div.signUpContainer {
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 470px;
    border-radius: 8px;
    align-items: flex-start;
    padding: 2rem;
}

div.signInContainer {
    margin-top: 16px;
    font-size: 12px;
}

div.signInContainer > p > span {
    cursor: pointer;
}

div.signInContainer .si {
    display: inline-block;
    position: relative;
    color: #44e4ab;
    font-weight: 400;
}

div.signInContainer .si::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #44e4ab;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

div.signInContainer .si:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    cursor: pointer;
}

div.header {
    text-align: center;
    margin: 16px;
    font-size: small;
}

div.header > img {
    height: 26px;
    padding: 48px;
}

div.header > p {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: auto;
}

div.signUpForm {
    height: 40vh;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

div.signUpForm > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.signUpForm > form > input {
    color: black;
    padding: 8px;
    width: 200px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

div.signUpForm > form > button {
    padding: 8px;
    width: 220px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    cursor: pointer;
    color: #44e4ab;
    margin-top: 16px;
}

div.signUpForm .su:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: #44e4ab;
    color: white;
    transition-duration: 0.3s;
}

div.error {
    display: flex;
    font-size: 12px;
    color: red;
    width: 200px;
    align-self: center;
    margin-top: 8px;
}
