section.photoEditContainer {
	height: 85%;
	width: 100%;
	padding: 32px;
	display: flex;
}

div.cameraSide {
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 75%;

	> .MuiSvgIcon-root {
		margin-top: 32px;
		background-color: rgba($color: #e3c61c, $alpha: 0.5);
		:hover {
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		}
		color: white;
		padding: 16px;
		border-radius: 50%;
		cursor: pointer;
		z-index: 1;
	}
}

div.camera {
	justify-content: center;
	align-items: center;
	display: flex;
	border: 1px solid #e3c61c;
	height: 480px;
	width: 704px;
	margin: auto;
	margin-top: 64px;
	// margin: 200px 64px 32px 64px;
}

div.filterList {
	background-color: lightblue;
	margin: auto;
	margin-top: 64px;
	height: 20%;
	width: 704px;
}

div.photosList {
	width: 25%;
}