.gallery-container {
	width: 1130px;
	margin: auto;
	height: calc(100vh - 75px);
}

.header {
	display: flex;
	justify-content: space-between;
	/* align-items: end; */
	height: 117px;
	width: 100%;
	background-color: white;
}

.header-left {
	margin-top: 60px;
	font-size: 24px;
}

.header-right {
	margin-top: 60px;
	font-size: 24px;
}

.images-container {
	display: flex;
	justify-content: center;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	margin: 0 154px 0 154px;
	height: 100vh;
	justify-content: center;
}



.images-container img {
	width: 275px;
	height: 330px;
}